{{#> default title='Home page'}}

    <div class="index">
        <h1>Simple Webpack 4 project</h1>
        <p>Also compile internal pages</p>
        <p><small>{{> cta url="internal/" text="Internal page"}}</small></p>
    </div>

{{/default}}